*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: sans-serif

.flat-button
  padding: 0.3rem 2rem
  background: darken( green, 2% )
  color: white
  border-radius: 0.3rem
  border: none
  font-size: 1rem
  margin-top: 1rem
  cursor: pointer
  transition: filter 100ms ease-in-out

.flat-button_red
  background: darken( red, 2% )

  &:hover
    filter: brightness( 140% )